div.topleft {
	width: 2px;
	height: 4px;
	background: url(images/shad_tlcorner.png) no-repeat top left;
	position: absolute;
	top: 0px;
	left: -1px;
}

div.topright {
	width: 2px;
	height: 4px;
	background: url(images/shad_ttcorner.png) no-repeat top right;
	position: absolute;
	top: 0px;
	right: -1px;
}

div.bottomright {
	width: 4px;
	height: 4px;
	background: url(images/shad_brcorner.png) no-repeat bottom right;
	position: absolute;
	bottom: 0px;
	right: -1px;
}

div.bottomleft {
	width: 4px;
	height: 4px;
	background: url(images/shad_blcorner.png) no-repeat bottom left;
	position: absolute;
	bottom: 0px;
	left: -1px;
}

div.shadow {
	padding-left: 50px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	#background: #b4afa3;
	#border-left: 1px solid #dcd7c8;
	#border-right: 1px solid #dcd7c8;
}

img.shadow {
	padding: 5px 5px 9px 5px;
	background: white url(images/shad_bottom.png) repeat-x bottom;
}

x {
	float: left;
	position: relative;
	left: 50%;
	margin-left: -82px;
	background: #b4afa3;
	padding: 0 1px;
	border-left: 1px solid #dcd7c8;
	border-right: 1px solid #dcd7c8;
	background: white url(/img/2005/11/shad_bottom.png) repeat-x bottom;
	padding: 5px 5px 9px 5px;
	width: 4px;
	height: 4px;
	background: url(/img/2005/11/shad_blcorner.png) no-repeat bottom left;
	position: absolute;
	bottom: 0px;
	left: -1px;
	width: 4px;
	height: 4px;
	background: url(/img/2005/11/shad_brcorner.png) no-repeat bottom right;
	position: absolute;
	bottom: 0px;
	right: -1px;
	width: 2px;
	height: 4px;
	background: url(/img/2005/11/shad_tlcorner.png) no-repeat top left;
	position: absolute;
	top: 0px;
	left: -1px;
	width: 2px;
	height: 4px;
	background: url(/img/2005/11/shad_trcorner.png) no-repeat top right;
	position: absolute;
	top: 0px;
	right: -1px;
}