<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>WebCricket v0.001</title>
	</head>

    <script type="text/javascript" src="javascripts/classes/class.js"></script>
	<script type="text/javascript" >
        var Person = Class.extend({
                    init: function(name) {
                        this.name = name;
                        this.loc = [2,4];
                    },
                    move: function(dest) {
                        this.loc[0] = dest[0];
                        this.loc[1] = dest[1];
                    }
                });
    </script>

    <script type="text/javascript">
        function hi()
        {
            var p1 = new Person("jeff");
            alert(p1.loc[0] + "," + p1.loc[1]);
            p1.move([5,5]);
            alert(p1.loc[0] + "," + p1.loc[1]);
        }
    </script>

	<body>
        <script type="text/javascript">
            hi();
        </script>
    </body>
</html>
