<ul id="navmenu" class="menu">
    <li id="admin">
      <a href="#">Administration</a>
      <ul class="submenu">
        <li><a href="/clubs">Clubs</a></li>
          <li><a href="/competitions">Competitions</a></li>
          <li><a href="/grades">Grades</a></li>
          <li><a href="/memberships">Memberships</a></li>
        <li><a href="/seasons">Seasons</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/opposition_teams">Opposition</a></li>
        <li><a href="/matches">Matches</a></li>
        </ul>
    </li>
    <li id="Reference Data">
      <a href="#">Reference Data</a>
    <ul class="submenu">
        <li><a href="/extra_types">Extra Types</a></li>
        <li><a href="/dismissal_types">Dismissal Types</a></li>
        <li><a href="/competition_genres">Competition Genres</a></li>
      </ul>
    </li>
    <li id="Players">
        <a href="/players">Players</a>
        <ul class="submenu">
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/player_aliases">Aliases</a></li>
            <li><a href="/nicknames">Nicknames</a></li>
        </ul>
    </li>
</ul>