<ul>
    <li>Batting Records
    <ul>
        <li>Runs - Best Over | Worst Over | <%= link_to "Best Innings", "records/runs/innings/desc" %> | <%= link_to "Worst Innings", "records/runs/innings/asc" %> | Season | Career</li>
        <li>Partnership Runs - Best Over | Worst Over | Best Innings | Worst Innings | Season | Career</li>
        <li>Balls Faced - Best Innings | Worst Innings | Season | Career</li>
        <li>Most Sixes - Innings | Season | Career</li>
        <li>Most Dot Balls - Innings | Season | Career</li>
        <li>Most Dismissed - Innings | Season | Career</li>
        <li>Most Extras - Innings | Season | Career</li>
    </ul>
</li>
